@import 'src/colors';

.button {
  $this: &;

  display: inline-block;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 19px;

  & {
    background-color: $primary;
    color: $onPrimary;
    border: none;
  }

  &:hover {
    background-color: darken($primary, 7%);
  }

  &:active {
    background-color: darken($primary, 8%);
    scale: 0.97;
  }

  &--secondary {
    & {
      background-color: $secondary;
      color: $onSecondary;
    }

    &:hover {
      background-color: darken($secondary, 7%);
    }

    &:active {
      background-color: darken($secondary, 8%);
    }
  }

  &--link {
    background: none;
    border: none;
    //padding: 0;

    & {
      color: $primary;
    }

    &:hover {
      color: darken($primary, 7%);
      background: none;
    }

    &:active {
      color: darken($primary, 8%);
      background: none;
    }

    &#{$this}--secondary {
      & {
        color: $secondary;
      }

      &:hover {
        color: darken($secondary, 7%);
      }

      &:active {
        color: darken($secondary, 8%);
      }
    }
  }
}
