@import 'src/colors';

* {
  box-sizing: border-box;
}

body {
  background-color: $surface;
  color: $onSurface;
  font-family: Arial, sans-serif;
}

a {
  color: $primary;
}

a:hover {
  color: #2980b9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $onSurface;
}

p {
  line-height: 1.6;
}

/* -------------------------------------------------------------------------- */

.app {
  max-width: 600px;
  margin: auto;
}
