@import 'src/colors';

@mixin highlight-row($color) {
  &:hover {
    background-color: $color;
  }

  &:active {
    background-color: darken($color, 5%);
  }
}

.plan-row {
  $this: &;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;

  &__number-box {
    width: 64px;
  }

  &--default {
    @include highlight-row($card);
  }

  &--done {
    @include highlight-row(rgba($done, 0.2));
  }

  &--current {
    @include highlight-row(rgba($current, 0.2));
  }
}
