$surface: #222;
$onSurface: #fff;

$done: #4caf50;
$onDone: #323232;

$current: #ffeb3b;
$onCurrent: #186bad;

$card: #333;
$onCard: white;

$primary: #3498db;
$onPrimary: #fff;

$secondary: #cddc39;
$onSecondary: #1d1d1d;
